<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mance - Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="bg-[#f5f5f7] text-[#2b2b2b] font-sans">
<div class="flex h-screen">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <main class="flex-1 overflow-y-auto">
        <div th:replace="~{fragments/header :: header(false)}"></div>

        <h1>Goals</h1>
    </main>
</div>

<script src="https://unpkg.com/lucide@latest"></script>
<script>
    lucide.createIcons();
</script>
</body>
</html>
