body {
    font-family: 'Poppins', sans-serif;
}

.my-border {
    border: 1px solid #ededed;
}

.c-white {
    color: white;
}

.background-gray {
    background: #eeeeeec2;
}

.h-400 {
    height: 300px;
}